.Img-Fundo{
  /* border: 2px solid red; */
  height: 100vh;
  background-image: url('../../assets/Login/Imagem-Fundo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Sessao-Login{
  /* border: 2px solid red; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Logo{
  transition: transform 0.3s ease;
}
.Logo:hover{
  transform: scale(1.1);
}
.Box-Login{
  /* border: 2px solid red; */
}
.Box-Inputs{
  /* border: 2px solid red; */
}
.Box-Input-Usuarios{
  /* border: 2px solid red; */
}
input{
 border: none;
 border-bottom: 2.5px solid black;
 outline: none;
 width: 100%;
 transition: 0.3s ease;
 margin-top: 15px;
}
input:focus{
  border-bottom-color: #2D8034 ;
}
input:hover{
  border-bottom-color: #2D8034 ;
}
.Box-Input-Senha{
  margin-top: 25px;
}
p{
  font-size: 17px;
  font-weight: 600;
  opacity: 50%;
  /* border: 2px solid red; */
  max-width: 100px;
  display: flex;
  justify-content: center;
}