/* App.css */

.formulario-container{
  max-width: 800px;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
}

.title01 {
  color: #68bd6f;
  font-size: 48px;
}

.subTitle01 {
  font-style: normal;
  font-weight: lighter;
}

.formulario_registro{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 5%  ;
}

.formulario_registro label {
  font-weight: 500;
}

.formulario_registro input,
.formulario_registro select,
.formulario_registro textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.formulario_registro select {
  appearance: none;
  background-color: white;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M15.293 7.293a1 1 0 0 0-1.414 0L10 11.586 5.707 7.293a1 1 0 1 0-1.414 1.414l5 5a1 1 0 0 0 1.414 0l5-5a1 1 0 0 0 0-1.414z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 14px;
  padding-right: 30px;
}

.horarios {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.horario {
  flex: 1;
}
.sessao_btn_registro{
  display: flex;
  justify-content: center;
}
.laboratorio{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
.button-registro{
  background-color: #194d26;
  border: none;
  color: white;
  font-weight: 700;
  width: 90% !important;
  height: 40px !important;
  transition: 0.3s ease;
  border-radius: 10px !important;
  height: 30px;
  cursor: pointer;
}
.sessao-btn{
  display: flex;
  justify-content: center;
}

.button-registro:hover {
  transform: scale(1.1);
  background-color: #2D8034;
}

.mensagem-enviada {
  text-align: center;
  padding: 20px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}